{tinymce controller=$controller}
<h2>{$_labels.$module.title} - {$_labels.MAIN_ACTIONS.$action}</h2>
<form id="main_form" enctype="multipart/form-data" action="" method="post" target="save_form">
    <fieldset>
        <legend>{$_labels.MAIN_ACTIONS.$action}</legend>
        
        {$fields}

        <ol>
			<li>
				<h2>{$_labels.choose_location}</h2>
				<label for="search_address">{$_labels.search_address}:</label>
				<input type="text" value="" id="search_address" />
				<br class="clear" />

				<label for="id_lat">Lat:</label>
				<input type="text" name="lat" id="id_lat" value="{if $form_object->lat}{$form_object->lat}{else}42.696189{/if}" />
				<br class="clear" />

				<label for="id_lon">Lon:</label>
				<input type="text" name="lon" id="id_lon" value="{if $form_object->lon}{$form_object->lon}{else}23.325319{/if}" />
				<br class="clear" />
				<input type="hidden" name="zoom" id="map_zoom" value="{if $form_object->zoom}{$form_object->zoom}{else}15{/if}" />

				<div id="map" style="float:left;width: 100%;height: 400px;"><!-- o --></div>
				<br class="clear" />
				<br/>

				<br class="clear" />
			</li>
		</ol>

		<div class="buttons">
			<button type="button" class="button cancel" onclick="window.location='{$session->admin_return_to}';">{$_labels.BUTTONS.cancel}</button>
			<button type="submit" class="button ok">{$_labels.BUTTONS.save}</button>
		</div>
	</fieldset>
</form>
<iframe name="save_form" id="save_form" style="width:0;height:0;border:0px solid #fff;"></iframe>
{literal}
<style type="text/css">
	.ui-autocomplete{width: 612px !important;background-color: white !important;}
	.ui-autocomplete li{padding: 3px 10px !important;}
	.ui-autocomplete li:hover a,.ui-autocomplete li a:hover{background: none !important; display: block; cursor: pointer; border-radius: none; background: #f2f2f2; border:none;}
</style>
{/literal}
<script src="//maps.google.com/maps/api/js?key=AIzaSyBrzOmruiKFMQDFBy8-ultpqvHqpCfC_9A"></script>
{literal}
<script>
var geocoder;
var infoWindow;
var map;
var map_zoom_level = 16;
var marker;
//var marker_image = _root + 'web/images/map_icon.png'; // get the first thing in the folder ;)

var latitude = 42.696189;
var longtitude = 23.325319;
{/literal}
{if $form_object->lat || $form_object->lon}
latitude = {$form_object->lat};
longtitude = {$form_object->lon};
map_zoom_level = {$form_object->zoom|default:15};
{/if}
{literal}
function load_map() {
	var myLatlng = new google.maps.LatLng(latitude, longtitude);

	var myOptions = {
		zoom: map_zoom_level,
		scrollwheel: true,
		mapTypeControl: false,
		center: myLatlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}

	map = new google.maps.Map(document.getElementById("map"), myOptions);
	infoWindow = new google.maps.InfoWindow();

	marker = new google.maps.Marker({
		position: myLatlng,
		map: map,
		draggable: true,
		//icon: marker_image
	});

	

	//GEOCODER
	geocoder = new google.maps.Geocoder();

	google.maps.event.addListener(map, 'click', function(event) {
			var myLatLng = event.latLng;
			var lat = myLatLng.lat();
			var lon = myLatLng.lng();
			$('#id_lat, #tmp_id_lat').val(lat);
			$('#id_lon, #tmp_id_lon').val(lon);
			if(marker){ marker.setMap(null); }

			marker = new google.maps.Marker({
					position: myLatLng,
					map: map,
					draggable: true,
					//icon: marker_image
			});
	});

	google.maps.event.addListener(marker, "dragend", function() {
			var pos = marker.getPosition();
			var lat = pos.lat();
			var lon = pos.lng();

			$('#id_lat, #tmp_id_lat').val(lat);
			$('#id_lon, #tmp_id_lon').val(lon);
			map.panTo(new google.maps.LatLng(lat,lon));
	});

	google.maps.event.addListener(map, 'zoom_changed', function() {
			var zoomLevel = map.getZoom();
			$('#map_zoom').val(zoomLevel);
	});
}

$(function() {
	load_map();

	$('#search_address').autocomplete({
		//This bit uses the geocoder to fetch address values
		source: function(request, response) {
			geocoder.geocode({
				'address': request.term
			}, function(results, status) {
				response($.map(results, function(item) {
					return {
						label:  item.formatted_address,
						value: item.formatted_address,
						latitude: item.geometry.location.lat(),
						longitude: item.geometry.location.lng()
					}
				}));
			}
		)
	},

	//This bit is executed upon selection of an address
	focus: function(event, ui) {
			$('#id_lat, #tmp_id_lat').val(ui.item.latitude);
			$("#id_lon, #tmp_id_lon").val(ui.item.longitude);
			var location = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
			marker.setPosition(location);
			map.setCenter(location);
		}
	});
});

$(function() {
	$('.map_icon_type img').click(function() {
		var src = $(this).attr('src');
		if(marker) {
			marker.setIcon(src);
		}

		marker_image = src;
		$('#map_icon').val($(this).attr('id').replace('map_',''));
	});

	$('#id_lat, #id_lon').change(function() {
		var lat = $('#id_lat').val();
		var lon = $('#id_lon').val();
		var myLatlng = new google.maps.LatLng(lat, lon);
		map.setCenter(myLatlng);
		marker.setPosition(myLatlng);
	});
});
</script>
{/literal}