{tinymce controller=$controller}
<h2>{$_labels.$module.title}/{$_labels.MAIN_ACTIONS.request} - {$_labels.MAIN_ACTIONS.$action}</h2>
<div id="main_form">
		
		
	<div class="contact_request_admin_form">
		<div>
			<label>{$_labels.DB_FIELDS.name}: </label>
			<span>{$fields->name}</span>
		</div>
		<div class="clear"></div>
		
		<div>
			<label>{$_labels.DB_FIELDS.phone}:</label>
			<span>{$fields->phone}</span>
		</div>
		<div class="clear"></div>
		
		<div>
			<label>{$_labels.DB_FIELDS.email}:</label>
			<span><a href="mailto:{$fields->email}">{$fields->email}</a></span>
		</div>
		<div class="clear"></div>
		
		<div>
			<label>{$_labels.DB_FIELDS.message}:</label>
			<span>{$fields->message}</span>
		</div>
		<div class="clear"></div>
		
		<div>
			<label>{$_labels.DB_FIELDS.created_at}:</label>
			<span>{$fields->created_at}</span>
		</div>
		<div class="clear"></div>

	</div>
		
		
	<div class="buttons">
		<button type="button" class="button cancel" onclick="window.location='{$session->admin_return_to}';">{$_labels.BUTTONS.return}</button>
	</div>
</div>

<style>
	.contact_request_admin_form div {
		height: 22px;
	}
	.contact_request_admin_form h2,
	.contact_request_admin_form h4 {
		text-align: center;
	}
	.contact_request_admin_form div label{
		font-size: 14px;
		font-weight: bold;
	}
	.contact_request_admin_form div span,
	.contact_request_admin_form div span a {
		color: #88c4ea;
		font-size: 14px;
	}
	.contact_request_admin_form div span a {
		 text-decoration: none;
	}
	#main_form .buttons, .main_form .buttons{
	    margin: 20px 0 20px 2% !important;
	}
</style>
