{tinymce controller=$controller}
<h2>{$_labels.$module.title} - {$_labels.MAIN_ACTIONS.$action}</h2>
<div id="main_form">
		
		
	<div class="career_request_admin_form">
		{if $object->ref}
			<h2>{$career->title}</h2>
			<h4>REF: {$object->ref}</h4>
			<div class="clear"></div>
		{else}
			<h2>Кандидаствал без свободни позиции</h2>
		{/if}
		<div>
			<label>{$_labels.DB_FIELDS.name}: </label>
			<span>{$object->name}</span>
		</div>
		<div class="clear"></div>
		{if $object->phone}
			<div>
				<label>{$_labels.DB_FIELDS.phone}: </label>
				<span><a href="tel:{$object->phone}">{$object->phone}</a></span>
			</div>
			<div class="clear"></div>
		{/if}
		
		<div>
			<label>{$_labels.DB_FIELDS.email}:</label>
			<span><a href="mailto:{$object->email}">{$object->email}</a></span>
		</div>
		<div class="clear"></div>
		{if $object->message}
			<div>
				<label>{$_labels.DB_FIELDS.message}: </label>
				<span>{$object->message}</span>
			</div>
			<div class="clear"></div>
		{/if}
		<div>
			<label>{$_labels.DB_FIELDS.created_at}: </label>
			<span>{$object->created_on}</span>
		</div>
		<div class="clear"></div>
		
		<div>
			<label>{$_labels.DB_FIELDS.cv}:</label>
			<span><a href="{$_public}files/{$object->getCvFilepath()}" download>{$object->cv->filename}</a></span>
		</div>
		<div class="clear"></div>
		{if $object->cl->filename}
			<div>
				<label>{$_labels.DB_FIELDS.cl}:</label>
				<span><a href="{$_public}files/{$object->getClFilepath()}" download>{$object->cl->filename}</a></span>
			</div>
			<div class="clear"></div>
		{/if}
	</div>
		
		
	<div class="buttons">
		<button type="button" class="button cancel" onclick="window.location='{$session->admin_return_to}';">{$_labels.BUTTONS.return}</button>
	</div>
</div>

<style>
	.career_request_admin_form div {
		height: 22px;
	}
	.career_request_admin_form h2,
	.career_request_admin_form h4 {
		text-align: center;
	}
	.career_request_admin_form div label{
		font-size: 14px;
		font-weight: bold;
	}
	.career_request_admin_form div span,
	.career_request_admin_form div span a {
		color: #88c4ea;
		font-size: 14px;
	}
	.career_request_admin_form div span a {
		 text-decoration: none;
	}
	#main_form .buttons, .main_form .buttons{
	    margin: 20px 0 20px 2% !important;
	}
</style>
