{tinymce controller=$controller}
{assign var="plain_action" value=$action|replace:'_category':''|replace:'_city':''}
<h2>{$_labels.$module.title} - {$_labels.MAIN_ACTIONS.$plain_action}</h2>
<form id="main_form" enctype="multipart/form-data" action="" method="post" target="save_form">
    <fieldset>
        <legend>{$_labels.MAIN_ACTIONS.$plain_action}</legend>

        {$fields}
       

        <div class="buttons">
            <button type="button" class="button cancel" onclick="window.location='{$session->admin_return_to}';">{$_labels.BUTTONS.cancel}</button>
            <button type="submit" class="button ok">{$_labels.BUTTONS.save}</button>
        </div>
    </fieldset>
</form>
<iframe name="save_form" id="save_form" style="width:0;height:0;border:0px solid #fff;"></iframe>

<div id="filemanager"></div>

<script type="text/javascript">
 function openFM(target){
        $("#filemanager").html($('<iframe width="100%" height="800" scrolling="no" />').attr("src", "{url_for controller=files action=index tinymce=images appsys=admin}&target="+target)).dialog({
            autoOpen: false,
            resizable: false,
            height: 550,
            width: 980,
            padding: 0,
            modal: false,
            position: ['middle',20],
            create: function (event) { $(event.target).parent().css('position', 'fixed');},
        }).dialog('open');
    }

    function trigger_FM_change(){

    }

    $('#id_image').live('click',  function(){
        openFM($(this).attr('id'));
    });
</script>