{tinymce controller=$controller}
{assign var="plain_action" value=$action|replace:'_category':''|replace:'_city':''}
<h2>{$_labels.$module.title} - {if $action eq 'edit_package'}Разфасовка редактиране{/if}{if $action eq 'add_package'}Разфасовка добавяне{/if} {$_labels.MAIN_ACTIONS.$plain_action}</h2>
<form id="main_form" enctype="multipart/form-data" action="" method="post" target="save_form">
    <fieldset>
        <legend>{$_labels.MAIN_ACTIONS.$plain_action}</legend>

        {$fields}

        

        <div class="buttons">
            <button type="button" class="button cancel" onclick="window.location='{$session->admin_return_to}';">{$_labels.BUTTONS.cancel}</button>
            <button type="submit" class="button ok">{$_labels.BUTTONS.save}</button>
        </div>
    </fieldset>
</form>
<iframe name="save_form" id="save_form" style="width:0;height:0;border:0px solid #fff;"></iframe>
<script type="text/javascript">
