{tinymce controller=$controller}
<h2>{$_labels.$module.title} - {$_labels.MAIN_ACTIONS.$action}</h2>
<div id="main_form">
		
		
	<div class="truck_request_admin_form">
		
		<div>
			<label>{$_labels.TABLE_FIELDS.name}: </label>
			<span>{$object->u_name}</span>
		</div>
		<div class="clear"></div>

		<div>
			<label>{$_labels.TABLE_FIELDS.email}:</label>
			<span><a href="mailto:{$object->u_e_mail}">{$object->u_e_mail}</a></span>
		</div>
		<div class="clear"></div>
		
		<div>
			<label>{$_labels.TABLE_FIELDS.phone}:</label>
			<span><a href="tel:{$object->u_phone}">{$object->u_phone}</a></span>
		</div>
		<div class="clear"></div>
		
		<div>
			<label>{$_labels.TABLE_FIELDS.product}: </label>
			<span>{$object->product}</span>
		</div>
		<div class="clear"></div>

		<div>
			<label>{$_labels.TABLE_FIELDS.qty}: </label>
			<span>{$object->qty}</span>
		</div>
		<div class="clear"></div>
		
		<div>
			<label>{$_labels.TABLE_FIELDS.msg}: </label>
			<span>{$object->msg}</span>
		</div>
		<div class="clear"></div>
		
		<div>
			<label>{$_labels.TABLE_FIELDS.created_on}:</label>
			<span>{$object->created_on}</span>
		</div>
		<div class="clear"></div>

	</div>
		
		
	<div class="buttons">
		<button type="button" class="button cancel" onclick="window.location='{$session->admin_return_to}';">{$_labels.BUTTONS.return}</button>
	</div>
</div>

<style>
	.truck_request_admin_form div {
		height: 22px;
	}
	.truck_request_admin_form h2,
	.truck_request_admin_form h4 {
		text-align: center;
	}
	.truck_request_admin_form div label{
		font-size: 14px;
		font-weight: bold;
	}
	.truck_request_admin_form div span,
	.truck_request_admin_form div span a {
		color: #88c4ea;
		font-size: 14px;
	}
	.truck_request_admin_form div span a {
		 text-decoration: none;
	}
	#main_form .buttons, .main_form .buttons{
	    margin: 20px 0 20px 2% !important;
	}
</style>
