{if $obj->id neq 4}
	{if $obj->image}
		<div class="page-cover" style="background-image: url({$obj->image})"> <!-- cover --> </div>
	{/if}
	{if $obj->id neq 7}
		<div class="bgr">
	{/if}
		<section class="accent-top careers">
			<div class="content-wrapper">
				<h2><em>{$obj->title}</em></h2>
				<div class="short-description">
					<p>{$obj->summary}</p>
				</div>	
				<div class="rich-text">
					{$obj->content}
				</div>
				{if $obj->id eq 5}
					{if $obj->albums}
					{assign var=album value=$obj->albums}
						<div class="production-carousel">
							{foreach from=$album->images item=item}
							<div class="item">
								<a href="{$item->get_file_url()}" title="">
									{thumb file=$item->get_file_url() width=200 height=200 method=crop}
								</a>
							</div>
							{/foreach}
						</div>
					{/if}
				{/if}
				{if $obj->id eq 7}
					<ul class="certificates-list">
						{foreach from=$certificates item=item}
							<li>
								{if $item->image}
								<a href="{$item->image->get_file_url()}" title="">
								<span>
									{thumb file=$item->image->get_file_url() width=176 height=251 mehtod=crop}
								</span>
								</a>
								{/if}
								<h4>{$item->title}</h4>
							</li>
						{/foreach}				
					</ul>
				{/if}
				{if $obj->id eq 8}	
					<ul class="career-list">
						{foreach from=$careers item=item}
							<li>
								<h4><a href="{$_root}{$_current_lang}{$obj->slug}/{$item->slug}" title="">{$item->title}</a></h4>
								<span class="number">{$_labels.FORM_LABELS.ref_no}: {$item->ref}</span>
								<div class="rich-text">
									<p>{$item->summary|strip_tags|truncate:180}</p>
								</div>
							</li>
						{/foreach}				
					</ul>
					{paging_public from=$paginator}
					{if $careers|count eq 0}
					{if $ok neq 1}
						<div class="apply form">
							<form action="" method="post" enctype="multipart/form-data" novalidate>
								<fieldset>
									<input {if $errors.name}class="error"{/if} type="text" name="name" value="{$form_object->name|escape}" placeholder="{$_labels.FORM_LABELS.name}*">
									<label class="upload {if $errors.upload_cv}error{/if}"><input type="file" name="upload_cv"><span>{$_labels.FORM_LABELS.upload_cv} *</span></label>
									<input {if $errors.email}class="error"{/if} type="email" name="email" value="{$form_object->email|escape}" placeholder="{$_labels.FORM_LABELS.email}*">
								</fieldset>
								<fieldset>
									<textarea {if $errors.message}class="error"{/if} placeholder="{$_labels.FORM_LABELS.message}*" name="message"></textarea>
								</fieldset>
								<fieldset>
									<div class="captcha">
										<img src="{$_root}captcha.png" onclick="this.src=this.src.replace(/\?.*/, '') + '?' + Math.random();" alt="">
										<input {if $errors.capture}class="error"{/if} type="text" name="capture" value="" id="capture">
									</div>
									<button class="button" type="sumbit">{$_labels.BUTTONS.send}</button>					
								</fieldset>
							</form>
						</div>
						{else}
						<div class="success-message">
							<p>{$_labels.FORM_LABELS.success_message}</p>
						</div>
						{/if}
					{/if}
				{/if}
			</div>
		</section>
	{if $obj->id neq 7}
		</div>
	{/if}
{else}
{include file="public/partials/_history_script.htm"}
	<div class="history-bgr">
		<h2><em>{$obj->title}</em></h2>
		<div class="timeline">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="606.5px" height="1602.667px" viewBox="0 0 606.5 1602.667">
				<g>
					<path class="path1" fill="none" stroke="#49ad32" stroke-width="2" stroke-miterlimit="10" d="M301.333,0c0,0,0,22.75,0,63
						c0,36.75,33.25,51,52,51s103,0,103,0"/>
					<path class="path2" fill="none" stroke="#49ad32" stroke-width="2" stroke-miterlimit="10" d="M603,169.833c0,0,0-0.667,0,13.167
						s-13.832,45.833-48.166,45.833s-404.667,0-404.667,0"/>
					<path class="path3" fill="none" stroke="#49ad32" stroke-width="2" stroke-miterlimit="10" d="M1.083,288.25c0,0,0,46.25,0,63.75s17,49,49,49
						s105,0,105,0"/>
					<path class="path4" fill="none" stroke="#49ad32" stroke-width="2" stroke-miterlimit="10" d="M450.833,400.875c0,0,71,0,102.625,0
						s51.375,22.5,51.375,54.75s0,57.063,0,57.063"/>
					<path class="path5" fill="none" stroke="#49ad32" stroke-width="2" stroke-miterlimit="10" d="M602.958,626.375c0,0,0.25,4.625,0.25,15.875
						s-12.625,45.625-49.25,45.625s-405.625,0-405.625,0"/>
					<path class="path6" fill="none" stroke="#49ad32" stroke-width="2" stroke-miterlimit="10" d="M1.083,744.875c0,0,0,44.75,0,63.375
						c0,22.875,15.625,51.625,50.375,51.625h102.5"/>
					<path class="path7" fill="none" stroke="#49ad32" stroke-width="2" stroke-miterlimit="10" d="M452.083,859.5c0,0,71.25,0,103.25,0
						s50,28.25,50,53s0,57.75,0,57.75"/>
					<path class="path8" fill="none" stroke="#49ad32" stroke-width="2" stroke-miterlimit="10" d="M602.958,1082.625c0,0,0,9,0,16.75
						s-8.875,46.375-46.875,46.375s-406.417,0-406.417,0"/>
					<path class="path9" fill="none" stroke="#49ad32" stroke-width="2" stroke-miterlimit="10" d="M1,1202.501c0,0,0,37.834,0,65.5
						s25.166,49.75,49.75,49.75s103.917,0,103.917,0"/>
					<path class="path10" fill="none" stroke="#49ad32" stroke-width="2" stroke-miterlimit="10" d="M451.667,1317.667c0,0,67.001,0,103.334,0
						s50.499,34.332,50.499,50.499s0,58.834,0,58.834"/>
					<path class="path11" fill="none" stroke="#49ad32" stroke-width="2" stroke-miterlimit="10" d="M603,1540.083c0,0,0,2.251,0,16.334
						s-15,45.25-46.875,45.25s-407.792,0-407.792,0"/>
				</g>
			</svg>
			<div class="timeline-wrapper">
				{$obj->content}
			</div>
		</div>
	</div>
	{literal}
	<script type="text/javascript">
		var paths = $('.timeline path'),
			boxes  = $('.box'),
			counter = 0;
		//hide path
		paths.each(function() {
			var $this = $(this),
				path_length = $this[0].getTotalLength();

			$this.css({
				'stroke-dashoffset': path_length,
				'stroke-dasharray': path_length
			});
		});

		function start_anima() {
			boxes.eq(counter).addClass('animate');

			boxes.each(function() {
				$(this).onCSSTransitionEnd( function()
				{
					paths.eq(counter).attr('class', 'animate');
				});
			});

			paths.each(function() {
				$(this).onCSSTransitionEnd( function()
				{
					counter++;
					boxes.eq(counter).addClass('animate');
				});
			});
		}

		if (msieversion()) {
			function ie_start() {
				boxes.eq(counter).stop().animate({
					'opacity': 1
				}, 600, function() {
					paths.eq(counter).stop().animate({
						'stroke-dashoffset': 0
					}, 600, function() {
						counter++;
						ie_start();
					});
				});
			}
			ie_start();
		} else {
			setTimeout(function() {
				paths.css({
					'-webkit-transition': 'stroke-dashoffset .6s',
					'transition': 'stroke-dashoffset .6s'
				});
				start_anima();
			}, 10);
		}
	</script>
	{/literal}
{/if}