<div id="map" class="page-cover"><!-- map --></div>
<div class="content-wrapper">
	<div class="tab-wrapper">
		<div class="tab-list">
			<p>{$_labels.BUTTONS.bulcons}</p>
			<ul>
				<li class="current"><a href="{$_root}{$_current_lang}{$obj->slug}" title="{$_labels.BUTTONS.bulcons}">{$_labels.BUTTONS.bulcons}</a></li>
				<li><a href="{$_root}{$_current_lang}{$shops_page_slug}" title="{$_labels.BUTTONS.shops}">{$_labels.BUTTONS.shops}</a></li>
				{if $suppliers_page_slug}<li><a href="{$_root}{$_current_lang}{$suppliers_page_slug}" title="{$_labels.BUTTONS.suppliers}">{$_labels.BUTTONS.suppliers}</a></li>{/if}
			</ul>
		</div>
		<div class="contacts">
			{foreach from=$categories item=category name=categories_loop}
				{if !$smarty.foreach.categories_loop.first}
					<h3>{$category->category_title}</h3>
				{/if}
				{if $category->contacts}
					{foreach from=$category->contacts item=contact}
						<dl>
						{if $contact->position}
							<dt>
								{$contact->title}
								<small>{$contact->position}</small>
							</dt>
						{else}
							<dt>{$contact->title}</dt>
						{/if}
							<dd>{$contact->address}</dd>
							<dd>
								<a href="tel:{$contact->phone|escape}" title="{$contact->phone|escape}">{$contact->phone|escape}</a>
							</dd>
							<dd>
								<a href="tel:{$contact->fax|escape}" title="{$contact->fax|escape}">{$contact->fax|escape}</a>
							</dd>
							<dd>
								<a href="tel:{$contact->mobile_phone|escape}" title="{$contact->mobile_phone|escape}">{$contact->mobile_phone|escape}</a>
							</dd>
							{if $contact->email}
							<dd class="email">
								<a href="mailto:{$contact->email}" title="{$contact->email}">{$contact->email}</a>
							</dd>
							{/if}
						</dl>
					{/foreach}
				{/if}
			{/foreach}
		</div>
		<div class="form">
			{if $ok eq 1}
			<div class="success-message">
				<p>{$_labels.EMAIL_LABELS.success_message}</p>
			</div>
			{else}
			<form action="" method="post">
				<fieldset>
					<input {if $errors.name}style="border-color:red;"{/if} type="text" name="name" value="{$form_object->name|escape}" placeholder="{$_labels.FORM_LABELS.name}*">
					<input {if $errors.phone}style="border-color:red;"{/if} type="number" name="phone" value="{$form_object->phone|escape}" placeholder="{$_labels.FORM_LABELS.phone}*">
					<input {if $errors.email}style="border-color:red;"{/if} type="email" name="email" value="{$form_object->email|escape}" placeholder="{$_labels.FORM_LABELS.email}*">
					<div class="captcha">
						<img src="{$_root}captcha.png" onclick="this.src=this.src.replace(/\?.*/, '') + '?' + Math.random();" alt="">
						<input type="text" name="capture" value="" {if $errors.capture}style="border-color:red;"{/if}  id="capture">
					</div>
				</fieldset>
				<fieldset>
					<textarea {if $errors.message}style="border-color:red;"{/if} placeholder="{$_labels.FORM_LABELS.message}*" name="message"></textarea>
				</fieldset>
				<fieldset class="cbx-field">
					<label class="cbx {if $errors.gdpr}error{/if}"> {$_labels.FORM_LABELS.gdpr_text}
						<input type="checkbox" name="gdpr"/>
						<span class="cbx-mark"></span>
					</label>
				</fieldset>
				<fieldset class="btn-field">
					<button class="button" type="sumbit">{$_labels.BUTTONS.send}</button>					
				</fieldset>
			</form>
			{/if}
		</div>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrzOmruiKFMQDFBy8-ultpqvHqpCfC_9A"></script>
<script type="text/javascript">
var marker,
	latitude = {$contact->lat|default:"42.100028"},
	longitude = {$contact->lon|default:"25.231006"},
	zoom = {$contact->zoom|default:"15"};
{literal}
function initialize() {
	var mapProp = {
		center:new google.maps.LatLng(latitude, longitude),
		zoom: zoom,
		mapTypeId:google.maps.MapTypeId.ROADMAP
	};
	var map=new google.maps.Map(document.getElementById("map"),mapProp);

	var image = '{/literal}{$_public}{literal}images/pin.png';
	var beachMarker = new google.maps.Marker({
		position: {lat: latitude, lng: longitude},
		map: map,
		icon: image
	});
}
google.maps.event.addDomListener(window, 'load', initialize);
{/literal}
</script>