{if $obj->image}
<div class="page-cover" style="background-image: url({$obj->image})">
	<div class="slogan">
		<h1>{$obj->title}</h1>
		<p>{$obj->summary}</p>
	</div>
</div>
{/if}
<div class="content-wrapper">
	<div class="tab-wrapper">
		<div class="tab-list">
			<p>{$_labels.BUTTONS.categories}</p>
			<ul>
				{foreach from=$product_categories item=item}
					<li><a href="{$_root}{$_current_lang}{$product_page->slug}/{$item->slug}">{$item->title}</a></li>
				{/foreach}
			</ul>
		</div>
		<div class="accent-top">
			<h2><em>{$obj->title}</em></h2>
			<ul class="accordeon">
				{foreach from=$faqs item=item}
					<li>
						<h4>{$item->question_title}</h4>
						{$item->answer}
					</li>
				{/foreach}
			</ul>
		</div>
	</div>
</div>