{include file="public/partials/_carousel_home.htm"}
{include file="public/partials/_highlights_block.htm"}
{include file="public/partials/_products_list.htm"}
<section class="accent-top top-recipe">
	<h2>{$_labels.recipes_home}</h2>
	<a class="button" href="{$_root}{$_current_lang}{$recipes_page_slug}" title="{$_labels.BUTTONS.see_all}">{$_labels.BUTTONS.see_all}</a>
	<div class="content-wrapper">
		<div class="description">
			<h3>{$recipe_on_focus->title}</h3>
			<span class="time"><span class="icon">&#xe903;</span> {$recipe_on_focus->cooking_time}</span>
			<p>{$recipe_on_focus->summary}</p>
			<a class="half-button bottom" href="{$_root}{$_current_lang}{$recipes_page_slug}/{$recipe_on_focus->recipes_category->slug}/{$recipe_on_focus->slug}" title="{$_labels.BUTTONS.see_details}">{$_labels.BUTTONS.see_details}</a>
		</div>

		<div class="image-wrapper">
			{if $recipe_on_focus->picture}{thumb file=$recipe_on_focus->picture->get_file_url() width=670 height=500 method=crop}{/if}
		</div>
	</div>
</section>
<section class="accent-top news-list">
	<h2><em>{$_labels.last_news}</em></h2>
	<a class="button" href="{$_roor}{$_current_lang}{$news_page_slug}" title="{$_labels.BUTTONS.see_all}">{$_labels.BUTTONS.see_all}</a>
	<div class="news-wrapper">
		<ul>
			{foreach from=$news item=item}
			<li>
				{if $item->photo}<a href="{$_root}{$_current_lang}{$news_page_slug}/{$item->slug}" title="">{thumb file=$item->photo->get_file_url() width=202 height=202 method=crop}</a>{/if}
				<div class="description">
					<span class="date">{$item->published_datetime|date_format:"%d.%m.%Y"}</span>
					<h4>
				<a href="{$_root}{$_current_lang}{$news_page_slug}/{$item->slug}" title="">{$item->title}</a></h4>
					<p>{$item->summary}</p>
				</div>
			</li>
			{/foreach}
		</ul>
		<div class="fb-page" data-href="https://www.facebook.com/lutenitcaparvomay/?fref=ts" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
			<div class="fb-xfbml-parse-ignore">
				<blockquote cite="https://www.facebook.com/lutenitcaparvomay/?fref=ts">
					<a href="https://www.facebook.com/lutenitcaparvomay/?fref=ts">{$_labels.BUTTONS.bulcons}</a>
				</blockquote>
			</div>
		</div>
	</div>
</section>