<div class="news-bgr">
<section class="accent-top news-list mt">
	<div class="news-wrapper inner">
	<h2><em>{$_labels.last_news}</em></h2>
		<ul>
			{foreach from=$items item=item}
				<li>
					{if $item->photo}<a href="{$_root}{$_current_lang}{$news_page->slug}/{$item->slug}" title="">{thumb file=$item->photo->get_file_url() width=202 height=202 method=crop}</a>{/if}
					<div class="description">
						<span class="date">{$item->published_datetime|date_format:"%d.%m.%Y"}</span>
						<h4><a href="{$_root}{$_current_lang}{$news_page->slug}/{$item->slug}" title="{$item->title}">{$item->title}</a></h4>
						<p>{$item->summary|truncate:180:"..."}</p>
					</div>
				</li>
			{/foreach}
		</ul>
	{paging_public from=$paginator}
	</div>
</section>
</div>