{if $obj->image}
<div class="page-cover" style="background-image: url({$obj->image})">
	<div class="slogan">
		<h1>{$obj->title}</h1>
		<p>{$obj->summary}</p>
	</div>
	{if $obj->file}
	<div id="catalog-btn">
		<a href="{$obj->file->get_file_url()}" target="_blank">{$_labels.product_catalog}</a>
	</div>
	{/if}
	{if $obj->catalogue_file}
    <div id="catalog-btn">
        <a href="{$obj->catalogue_file->get_file_url()}" target="_blank">{$_labels.product_catalog_2}</a>
    </div>
    {/if}
</div>
{/if}
<div class="content-wrapper">
	<div class="tab-wrapper">
		<div class="tab-list">
			<p>{$_labels.BUTTONS.categories}</p>
			<ul>
				{foreach from=$product_categories item=item}
					<li {if $obj->slug eq $item->slug}class="current"{/if}><a href="{$_root}{$_current_lang}{$obj->slug}/{$item->slug}">{$item->title}</a></li>
				{/foreach}
			</ul>
		</div>
		<div class="tab-content">
			{include file='public/products/_list.htm'}
		</div>
	</div>
</div>
