<div id="map" class="page-cover shops"><!-- map --></div>
<div class="content-wrapper">
	<div class="tab-wrapper">
		<!-- <div class="tab-list">
			<p>{$obj->title|escape}</p>
			<ul>
				<li><a href="{$_root}{$_current_lang}{$contact_us_page_slug}" title="{$_labels.BUTTONS.bulcons}">{$_labels.BUTTONS.bulcons}</a></li>
				<li class="current"><a href="{$_root}{$_current_lang}{$obj->slug}" title="{$obj->title|escape}">{$obj->title|escape}</a></li>
				<li><a href="{$_root}{$_current_lang}{$suppliers_page_slug}" title="{$_labels.BUTTONS.suppliers}">{$_labels.BUTTONS.suppliers}</a></li>
			</ul>
		</div> -->
		<div class="filter-form" data-url="{url_for controller=pages action=xhr method=load_shops}">
			<form>
				<div class="select-wrapper hidden">
					<select id="country_id" name="country_id">
						<option selected value="" disabled>{$_labels.SHOPS_PAGE_LABELS.country}</option>
						{foreach from=$countries item=item}
							<option value="{$item}">{$item}</option>
						{/foreach}
					</select>
				</div>
				<div class="select-wrapper hidden">
					<select id="city_id" name="city_id">
						<option selected value="" disabled>{$_labels.SHOPS_PAGE_LABELS.city}</option>
						{*foreach from=$cities item=item}
						<option value="{$item}">{$item}</option>
						{/foreach*}
					</select>
				</div>
				<div class="select-wrapper hidden">
					<select id="product_id" name="product_id">
						<option selected value="" disabled>{$_labels.SHOPS_PAGE_LABELS.product}</option>
						{*foreach from=$packages key=key item=item}
							<option value="{$key}">{$item}</option>
						{/foreach*}
					</select>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrzOmruiKFMQDFBy8-ultpqvHqpCfC_9A"></script>
<script src="{$_public}js/markerclusterer.js"></script>
<script src="{$_public}js/custom_scroll.js"></script>
<script type="text/javascript">
	var 
        ajax_urls = {
        	city: '{url_for controller=pages action=xhr method=load_cities}',
        	product: '{url_for controller=pages action=xhr method=load_products}',
        },
{literal}
        source = $('select[name="country_id"]'),
        target = $('select[name="city_id"]'),
		markerClusterer = null,
		markers = [],
		map = null,
		geocoder = null;

	function apply_points_data(params) {
		'use strict';

		$.get($('.filter-form').data('url'), params, function(json) {
			markers = [];
			var bounds = new google.maps.LatLngBounds();
			if (json == null) {
				return;	
			}
			for(var d in json['items']){
				var latlng = new google.maps.LatLng(json['items'][d].lat,json['items'][d].lon);
				var marker = new google.maps.Marker({
					position: latlng,
					icon: "{/literal}{$_public}images/pin_single.png{literal}",
				});

				markers.push(marker);
				marker.id = d;
				bounds.extend(latlng);

				marker.addListener('click', function() {
					var popup = $('<div class="partner-popup" />').appendTo($('body')),
						info = json['items'][this.id];
						// partner = $('<div class="box"><h3>'+ info.title +'</h3><p>'+ info.address +'</p></div><div class="box"><h4>'+info.name+'</h4><p>'+info.contact+'</p></div><div class="box"><h4>'+info.worktime_label+'</h4><p>'+info.worktime+'</p></div>').appendTo(popup);

						if (!(info.title == '') || !(info.address == '')) {
							var content = $('<div class="box" />').appendTo(popup);
							if (!(info.title == '')) {
								var title = $('<h3>'+info.title+'</h3>').appendTo(content);
							}
							if(!(info.address == '')) {
								var address = $('<p>'+info.address+'</p>').appendTo(content);
							}
						}
						if (!(info.name == '') || !(info.contact == '')) {
							var content = $('<div class="box" />').appendTo(popup);
							if (!(info.name == '')) {
								var name = $('<h4>'+info.name+'</h4>').appendTo(content);
							}
							if(!(info.contact == '')) {
								var contact = $('<p>'+info.contact+'</p>').appendTo(content);
							}
						}
						if (!(info.worktime == '')) {
							var content = $('<div class="box" />').appendTo(popup);
							var worktime_label = $('<h4>'+info.worktime_label+'</h4>').appendTo(content);
							
							if(!(info.worktime == '')) {
								var worktime = $('<p>'+info.worktime+'</p>').appendTo(content);
							}
						}

					$.magnificPopup.open({
						items: {
							src: popup
						},
						type: 'inline',
						closeMarkup: '<button title="Close (Esc)" type="button" class="mfp-close">&#xe91b</button>',
						callbacks: {
							close: function() {
								$('body').find('.partner-popup').remove();
							}
						}
					});
				});
			}

			if(markerClusterer) {
				markerClusterer.clearMarkers();
			}

			markerClusterer =  new MarkerClusterer(map, markers, {styles: [{
				gridSize: 40,
				width: 40,
				height: 48,
				url: '{/literal}{$_public}images/pin_full.png{literal}',
				textColor: "#fff",
				textSize: 18
			}]});
			map.fitBounds(bounds);
		},'json');
	}	

	function initialize(data) {
		var myLatlng = new google.maps.LatLng(42.704204,23.330525);
		var myOptions = {
			zoom: 9,
			center: myLatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}

		map = new google.maps.Map(document.getElementById("map"), myOptions);

		apply_points_data({
			country_id: $('#country_id').val(),
			city_id: $('#city_id').val(),
			product_id: $('#product_id').val()
		});

	}

    google.maps.event.addDomListener(window, 'load', initialize);

	custom_dropdown($('.select-wrapper'));

	function custom_dropdown(select_wrapper) {
		select_wrapper.find('select').each(function() {

			var select = $(this),
				custom_selectors = select.siblings('.paper').find('ul'),
				container = select.parent();

			if(custom_selectors.length > 0) {
				var name = select.next();
			} else {
				var name = $('<p />').text(select.find('option:selected').text()).appendTo(container);
			}

			select.css({
				'position': 'absolute',
				'left': '-9999px',
				'opacity': '0',
			});

			select.off('change').on('change', function(e) {

				//custom hag that fix a the bug on safari
				var selectedOptions = $(this).find(":selected");
				var selectedValue = selectedOptions[selectedOptions.length - 1].value;
				$(this).next().text($(selectedOptions[selectedOptions.length - 1]).text());

				var countryValue = $('#country_id').val();
				if ($(this).attr("id") == "country_id") {
					countryValue = selectedValue;
				}

				var cityValue = $('#city_id').val();
				if ($(this).attr("id") == "city_id") {
					cityValue = selectedValue;
				}

				var productValue = $('#product_id').val();
				if ($(this).attr("id") == "product_id") {
					productValue = selectedValue;
				}

				name.css({
					'color': '#016e37'
				});
				apply_points_data({
					country_id: countryValue,
					city_id: cityValue,
					product_id: productValue
				});

				var next_dropdown = select.parent().next().children('select');
				if(next_dropdown.length > 0) {
					$.ajax({
						url: ajax_urls[next_dropdown.attr('id').replace('_id', '')],
						dataType: 'json',
						type: 'POST',
						data: {selected: selectedValue, country_id: countryValue}
					}).success(function(json) {
						var new_options = [],
								default_option = next_dropdown[0].options[0];

						if(json.success && json.attributes) {
							$.each(json.attributes, function(index, value) {
								new_options.push('<option value="' + (typeof index === 'string' ? index : value) + '">' + value + '</option>');
							});
							next_dropdown.html(new_options.join(''));
							next_dropdown.prepend(default_option);
							// custom_dropdown(next_dropdown.parent('.select-wrapper'));

							// customScroll.createScroll(document.querySelectorAll('.rules_text'), {arrows: false});
						}
						$('.select-wrapper.disabled').removeClass('disabled');
						$('.custom_scroll').remove();
						custom_dropdown($('.select-wrapper'));
						$('.rules_text').parent('.paper').css({
							'visibility': 'hidden',
							'display': 'block'
						});
						customScroll.createScroll(document.querySelectorAll('.rules_text'), {arrows: false});
						$('.rules_text').parent('.paper').css({
							'visibility': 'visible',
							'display': 'none'
						});
					});
				}

			});

			if(custom_selectors.length > 0) {
				custom_selectors.html('');
			} else {
				if (select.parent().parent().parent().hasClass('filter-form')) {
					var custom_selectors = $('<ul />').appendTo(container).wrap('<div class="paper" />').wrap('<div class="rules_text" />');
				} else {
					var custom_selectors = $('<ul/>').appendTo(container);
				}
			}		

			if (select.find('option').not(':disabled').length <= 0) {
				select.parent().addClass('disabled');
			}
			select.find('option').not(':disabled').each(function() {
				custom_selectors.append('<li>'+$(this).text()+'</li>');
			});

			custom_selectors.off('click').on('click', 'li', function() {
				var $this = $(this);
				name.text($this.text()).css({
					'color': '#239423'
				});

				// set selected option in dropdown with index+1 because of the disabled option = 0;
				select.find('option').eq($this.index()+1).attr('selected', true).trigger('change').siblings().removeAttr('selected');
				custom_selectors.closest('.paper').stop().slideUp('fast');
			});

			custom_selectors.each(function() {
				$(this).css({
					'height': $(this).height()
				});
			});

			setTimeout(function(){
				container.removeClass('hidden')
				custom_selectors.closest('.paper').hide();
			}, 0);

			container.find('p').off('click').on('click', function(e){
				var $this = $(this);
				if ($this.parents('.select-wrapper').hasClass('disabled')) {
					return false;
				}
				$this.next().stop().slideToggle();
				$this.parent().siblings().find('.paper ').stop().slideUp();
			});
		});
	}
	
	customScroll.createScroll(document.querySelectorAll('.rules_text'), {arrows: false});
/*
    source.change(function() {
        target.children('option:not(:first)').remove();

        var request = $.ajax({
            url: ajax_url, dataType: 'json', type: 'POST', data: {country: this.value}
        });

        request.success(function(response) {
            if (typeof response.options !== 'undefined' && response.options) {
                $(response.options).appendTo(target);
            }
        });

        request.complete(function() {
        	$('.select-wrapper select[name="city_id"]').nextAll().remove();
        	custom_dropdown(target.parent('.select-wrapper'));
			customScroll.createScroll(document.querySelectorAll('.rules_text'), {arrows: false});
        });
    });
    */
{/literal}
</script>
