<div id="map" class="page-cover"><!-- map --></div>
<div class="content-wrapper">
	<div class="tab-wrapper">
		<div class="tab-list">
			<p>{$obj->title|escape}</p>
			<ul>
				<li><a href="{$_root}{$_current_lang}{$contact_us_page_slug}" title="{$_labels.BUTTONS.bulcons}">{$_labels.BUTTONS.bulcons}</a></li>
				<li><a href="{$_root}{$_current_lang}{$shops_page_slug}" title="{$_labels.BUTTONS.shops}">{$_labels.BUTTONS.shops}</a></li>
				<li class="current"><a href="{$_root}{$_current_lang}{$obj->slug}" title="{$obj->title|escape}">{$obj->title|escape}</a></li>
			</ul>
		</div>
		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>{$_labels.SUPPLIERS_LABELS.supplier}</th>
						<th>{$_labels.SUPPLIERS_LABELS.city}</th>
						<th>{$_labels.SUPPLIERS_LABELS.area}</th>
						<th>{$_labels.SUPPLIERS_LABELS.phone}</th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$users item=item}
						<tr>
							<td>{$item->distributor_name}</td>
							<td>{$item->city}</td>
							<td>{$item->country}</td>
							<td>{$item->phone}</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBrzOmruiKFMQDFBy8-ultpqvHqpCfC_9A"></script>
<script type="text/javascript">
{literal}
function initialize() {
	var mapProp = {
		center:new google.maps.LatLng(42.100028, 25.231006),
		zoom: 15,
		mapTypeId:google.maps.MapTypeId.ROADMAP
	};
	var map=new google.maps.Map(document.getElementById("map"),mapProp);

	var image = '{/literal}{$_public}images/pin.png{literal}';
	var beachMarker = new google.maps.Marker({
		position: {lat: 42.100028, lng: 25.231006},
		map: map,
		icon: image
	});
}
google.maps.event.addDomListener(window, 'load', initialize);
{/literal}
</script>