<ul class="recipies-list">
	{foreach from=$recipes_list item=item}
	<li>
		{if $item->picture}<a class="img" href="{$_root}{$_current_lang}{$obj->slug}/{$item->recipes_category->slug}/{$item->slug}" title="">{thumb file=$item->picture->get_file_url() width=152 height=152 method=crop}</a>{/if}
		<h4><a href="{$_root}{$_current_lang}{$obj->slug}/{$item->recipes_category->slug}/{$item->slug}" title="{$item->title|escape}">{$item->title|escape}</a></h4>
		<p>{$item->summary|truncate:112:"..."}</p>
	</li>
	{/foreach}
</ul>
{paging_public from=$paginator}