{if $recipe_item->picture}
	<div class="page-cover" style="background-image: url({thumb file=$recipe_item->picture->get_file_url() width=1263 height=350 as_src=true})"> <!-- cover --> </div>
{/if}
<div class="bgr">
<section class="details">
	<h2><em>{$recipe_item->title}</em></h2>
	<span class="time"><span class="icon">&#xe90d;</span> {$recipe_item->cooking_time}</span>
	<div class="short-description">
	{$recipe_item->summary}
	</div>
	<div class="preparation">
		<div class="products">
			<h3>{$_labels.RECIPES_INNER.necessary_products}</h3>
			{$recipe_item->necessary_ingredients}
		</div>
		<div class="information">
			<h4>{$_labels.RECIPES_INNER.nutrition_facts}</h4>
			<ul>
				<li><span>{$_labels.RECIPES_INNER.proteins}</span><em>{$recipe_item->proteins}</em></li>
				<li><span>{$_labels.RECIPES_INNER.fats}</span><em>{$recipe_item->fats}</em></li>
				<li><span>{$_labels.RECIPES_INNER.carbohydrates}</span><em>{$recipe_item->carbohydrates}</em></li>
				<li><span>{$_labels.RECIPES_INNER.calories}</span><em>{$recipe_item->calories}</em></li>
				<li><span>{$_labels.RECIPES_INNER.energy}</span><em>{$recipe_item->energy}</em></li>
				<li><span>{$_labels.RECIPES_INNER.energy_value}</span><em>{$recipe_item->energy_value}</em></li>
			</ul>
		</div>
	</div>
	<div class="accent-top steps">
		<h2><em>{$_labels.RECIPES_INNER.method_of_preparation}</em></h2>
		<div class="rich-text">	
			{$recipe_item->content}
		</div>
		<ul class="gallery">
			{foreach from=$recipe_item->images key=key item=item}
				<li>
					<a href="{$item->get_file_url()}" title="{$key+1}">
						<span class="img">
							<img src="{$item->get_file_url()}" alt="missing image"/>
						</span>
						<ins>{$key+1}</ins>
					</a>
				</li>
			{/foreach}
		</ul>
		<a class="button" href="{$_root}{$_current_lang}{$obj->slug}/{$recipie->slug}" title="{$_labels.BUTTONS.back}">{$_labels.BUTTONS.back}</a>
		<a class="button" href="https://www.facebook.com/sharer.php?u={$url|escape}&amp;title={$title|escape:'url'}" title="{$_labels.BUTTONS.share}" target="_blank"><span class="icon">&#xe906;</span>{$_labels.BUTTONS.share}</a>
	</div>
</section>
	{if $recipe_item->products}
	<div class="recepies-carousels">
		<div class="used-products">
			<h4>{$_labels.RECIPES_INNER.used_products}</h4>
			<div class="carousel">
				{foreach from=$recipe_item->products item=product_item}
				<div class="item">
					{if $product_item->thumb}<a href="{$_root}{$_current_lang}{$product_page_slug}/{$product_item->products_category->slug}/{$product_item->slug}" title="">{thumb file=$product_item->thumb->get_file_url() width=250 height=250}</a>{/if}
					<h5>{$product_item->title|escape}</h5>
				</div>
				{/foreach}
			</div>
		</div>
		<div class="more-recepies half">
			<h4>{$_labels.RECIPES_INNER.more_recipes}</h4>
			<ul class="carousel recipies-list">
				{foreach from=$recipe_item->products item=products_model}
					{foreach from=$products_model->recipes item=recipes_item}
						<li>
							<a class="img" href="{$_root}{$_current_lang}{$obj->slug}/{$recipie->slug}/{$recipes_item->slug}" title="">{thumb file=$recipes_item->picture->get_file_url() width=152 height=152}</a>
							<h4><a href="{$_root}{$_current_lang}{$obj->slug}/{$recipie->slug}/{$recipes_item->slug}" title="{$recipes_item->title|escape}">{$recipes_item->title|escape}</a></h4>
							<p>{$recipes_item->summary|truncate:112:"..."}</p>
						</li>
					{/foreach}
				{/foreach}
			</ul>
		</div>
	</div>
	{/if}
</div>