{if $obj->image}
<div class="page-cover" style="background-image: url({$obj->image})">
	<div class="slogan">
		<h1>{$obj->title}</h1>
		<p>{$obj->summary}</p>
	</div>
</div>
{/if}
<div class="content-wrapper">
	<div class="tab-wrapper">
		<div class="tab-list">
			<p>{$_labels.BUTTONS.categories}</p>
			<ul>
				{foreach from=$subcategories item=item}
				<li {if $recipie->slug eq $item->slug}class="current"{/if}><a href="{$_root}{$_current_lang}{$obj->slug}/{$item->slug}">{$item->title}</a></li>
				{/foreach}
			</ul>
		</div>
	</div>
	<div class="tab-content">
		{include file='public/recipes/_list.htm'}
	</div>
</div>