<li style="margin-bottom: 30px; clear: both; height: 213px">
	<a title="" href="{URL}" style="float: left; margin-right: 20px;">
		{IMAGE}
	</a>
	<div style="width: 950px;">
		<h2 style="font-size: 15px; font-family: Helvetica; color: #7a7b7d; font-weight: bold;">{BRAND} {MODEL} {MODIFICATION}</h2>
		<strong style="font-size: 14px; font-family: Helvetica; color: #000; font-weight: bold; margin-right: 10px;"><img src="{DOMAIN}web/images/newsletter/eur.png" style="margin-right: 4px;" />{PRICE} EUR</strong>
		<strong style="font-size: 14px; font-family: Helvetica; color: #000; font-weight: bold; margin-right: 10px;"><img src="{DOMAIN}web/images/newsletter/point.png" style="margin-right: 4px;" />{LOCATION}</strong>
		<strong style="font-size: 14px; font-family: Helvetica; color: #000; font-weight: bold;"><img src="{DOMAIN}web/images/newsletter/date.png" style="margin-right: 4px;" />{DATE}</strong>
		<p style="font-size: 13px; font-family: Helvetica; color: #7a7b7d;">{SUMMARY}</p>
		<a style="font-size: 12px; font-family: Helvetica; color: #7a7b7d; text-decoration: none;" href="{URL}" title="">{SEE_MORE}<img src="{DOMAIN}web/images/newsletter/arrow.png" style="margin-left: 3px; "/></a>
	</div>
</li>