<h2>{$_labels.TOPMENU.users} - {$_labels.MAIN_ACTIONS.add}</h2>
<form id="main_form" enctype="multipart/form-data" action="" method="post">
	<fieldset>
		<legend>{$_labels.MAIN_ACTIONS.add}</legend>

		<label for="admin_group_id">{$_labels.DB_FIELDS.admin_group_id}:</label>
		<select id="admin_group_id" name="admin_group_id">
			<option value="">--------------------------------------------------- N/A ---------------------------------------------------</option>
			{html_options options=$admin_groups selected=$form_object->admin_group_id}
		</select>
		<br />

		<label for="username">{$_labels.DB_FIELDS.username}:</label>
		<input type="text" name="username" id="username" value="{$form_object->username|escape}" />
		<br />

		<label for="userpass">{$_labels.DB_FIELDS.userpass}:</label>
		<input type="password" name="userpass" id="userpass" />
		<br />

		<h4 class="permission_list_title">{$_labels.not_permissions_to}:</h4>

		<dl id="permission_list">
		{foreach from=$permissions key=real_module item=module}
			<dt>
				<label>
					<input type="checkbox" value="{$real_module}" class="chk parent" id="chk_{$real_module}" name="{$real_module}"{if $form_object->permissions.$real_module} checked="checked"{/if} /> {$module.title}
				</label>
			</dt>
			{if isset($module.actions)}
				<dd id="chk_actions_{$real_module}">{html_checkboxes name='permissions' selected=$form_object->permissions class="chk_$real_module" options=$module.actions separator='<br />'}</dd>
			{/if}
		{/foreach}
		</dl>


		<div class="buttons">
			<button type="button" class="cancel" onclick="window.location='{$session->admin_return_to}';">{$_labels.BUTTONS.cancel}</button>
			<button type="submit" class="ok">{$_labels.BUTTONS.$action}</button>
		</div>>
	</fieldset>
</form>

<script language="javascript" type="text/javascript">
jQuery(document).ready(function() {literal}{{/literal}
	Sweboo.Users.Init({literal}{{/literal}url: '{url_for controller=users}'{literal}}{/literal});
{literal}}{/literal});
</script>