﻿.ui-widget-header .ui-icon,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{
	border: 0;
	font-weight: normal;
	background: transparent none;
}

.ui-datepicker{
	color: white;
	padding: 0;
	font: normal 12px/1 'Open Sans', Tahoma, sans-serif;
	background: #4b4b4e;
	background: linear-gradient(#4b4b4e 0%,#323233 100%);
}

.ui-datepicker.ui-widget-content{
	border-radius: 0;
	border: 0;
	padding-bottom: 4px;
}

.ui-datepicker .ui-datepicker-header{
	margin: 10px 5px 0;
	padding: 0;
	border-radius: 0;
}

.ui-widget-header{
	border: 0;
	font-weight: normal;
	background: transparent none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{
	height: 16px; width: 16px;
	cursor: pointer;
	background: url('../../images/layout/bgr-sprite.png') no-repeat -78px -301px;
}

.ui-datepicker .ui-datepicker-next{ background-position: -94px -301px; }

.ui-datepicker .ui-state-hover{ border: 0; top: 2px; }

.ui-datepicker .ui-datepicker-prev.ui-state-hover{ left: 2px; }
.ui-datepicker .ui-datepicker-next.ui-state-hover{ right: 2px; }

.ui-datepicker table{ margin: 0; }

.ui-datepicker th{
	color: white;
	font: normal 12px/1 'Open Sans', Tahoma, sans-serif;
}

.ui-datepicker td,
.ui-datepicker td span{
	color: #aeaeaf;
	font-size: 12px;
	padding: 0; border: 0;
	text-align: center;
	box-shadow: none;
	text-shadow: none;
	background: transparent none;
	opacity: 1!important;
	filter:alpha(opacity="100")!important;
}

.ui-datepicker table tbody tr:nth-child(2n+2) td,
.ui-datepicker table tbody tr td:first-child{
	background: transparent none;
}

.ui-datepicker td a,
.ui-datepicker .ui-datepicker-unselectable,
.ui-datepicker .ui-datepicker-unselectable span{
	color: #aeaeae!important; text-align: center;
}

.ui-datepicker td.highlight a{ color: white!important; }
.ui-datepicker td.ui-datepicker-current-day a{ color: #f07d00!important; }