{if $items}
<div class="news background-grey">
	<div class="heading title">
		<h1>{$params.title}</h1>
		<p>{$params.content}</p>
		<a href="{$_root}{$_current_lang}{$news_page->slug}" class="button hidden">{$_labels.readmore}</a>
	</div>

	<ul class="list">
		{foreach from=$items item=item}
		<li class="shadow-bottom-inset">
			<figure>
				{if $item->photo}{thumb file=$item->photo->get_file_url() width=292 height=197 method=resize_and_crop_to_fit}{/if}
				<div class="mask {cycle values="blue-color,purple-color,grey-color,grey-color"}"><a class="button" href="{$_root}{$_current_lang}{$news_page->slug}/{$item->slug}" title="{$_labels.readmore}">{$_labels.readmore}</a></div>
			</figure>

			<div class="description">
				<time datetime="{$item->published_datetime|date_format:'%Y-%m-%d'}">{$item->published_datetime|date_format:'%d.%m.%Y'}</time>
				<h2>{$item->title}</h2>
				<div class="rich-text">
					<p>{$item->summary}</p>
				</div>
			</div>
		</li>
		{/foreach}
	</ul>
</div>
{/if}