<form id="main_form" enctype="multipart/form-data" action="" class="widgetForm" method="post">
	<fieldset>
		<legend>{$_labels.MAIN_ACTIONS.edit}</legend>
		<ol>
			<li>
				<label for="title">{$_labels.DB_FIELDS.title}</label>
				<input name="params[title]" value="{$params.title|escape}">
			</li>
			<li>
				<label for="content">{$_labels.DB_FIELDS.content}</label>
				<textarea name="params[content]">{$params.content}</textarea>
			</li>
			<li>
				<label for="limit">{$_labels.DB_FIELDS.limit}</label>
				<input type="text" name="params[limit]" value="{$params.limit|escape|default:2}" />
			</li>
			<li>
				<label for="order">{$_labels.DB_FIELDS.order}</label>
				<select name="params[order]" id="order">
					<option value="published_datetime DESC" {if $params.order neq 'published_datetime ASC'}selected="selected"{/if}>{$_labels.news.DB_FIELDS.published_datetime} ({$_labels.DB_FIELDS.sort_desc})</option>
					<option value="published_datetime ASC" {if $params.order eq 'published_datetime ASC'}selected="selected"{/if}>{$_labels.news.DB_FIELDS.published_datetime} ({$_labels.DB_FIELDS.sort_asc})</option>
				</select>
			</li>
			<li>
				<label for="visibility">{$_labels.DB_FIELDS.visibility}</label>
				{html_options options=$_labels.VISIBILITY selected=$params.visibility name="params[visibility]" class="middle"}
			</li>
			<li>
				<label for="use_cache">{$_labels.DB_FIELDS.use_cache}</label>
				{html_options options=$_labels.yesno selected=$params.use_cache name="params[use_cache]" class="short" id="use_cache"}
			</li>
		</ol>
		<div class="buttons">
			<button type="button" class="cancel">{$_labels.BUTTONS.cancel}</button>
			<button type="submit" class="ok">{$_labels.BUTTONS.save}</button>
		</div>
	</fieldset>
</form>