{capture assign=html}{strip}
{if $object}
<article class="section_title">
	<h1><span>{$object->title|escape}</span></h1>
</article>
<div class="rich_text">{$object->description}</div>
{/if}
{/strip}{/capture}
{$html|to_json:'html'}