<h2>{$_labels.$module.title} - {$_labels.MAIN_ACTIONS.$action}</h2>
{if $success_message}
	<h2>Данните са добавени успешно</h2>
	<br/>
	<button type="button" class="button" onclick="window.location='{url_for controller=admin module=shops maction=index}';">Към магазини</button>
{else}
<form id="main_form" enctype="multipart/form-data" method="POST">
    <input name="userfile" type="file">
    <button type="submit" class="button ok" value="Upload">Submit</button>
    <button type="button" class="button cancel" onclick="window.location='{$session->admin_return_to}';">{$_labels.BUTTONS.cancel}</button>
    {if $error_message}
		<br><span style="color:red">Моля прикачете файл за импорт</span>
	{/if}
	
	{if $invalid_format}
		<br><span style="color:red">Невалиден формат на файла за импорт</span>
	{/if}
</form>
{/if}