<div class="news-bgr">
<section class="accent-top news-list inner">
	<h2><em>{$_labels.last_news}</em></h2>
	<a class="button" href="{$_root}{$_current_lang}{$slug}" title="{$_labels.BUTTONS.back}">{$_labels.BUTTONS.back}</a>
	<div class="content-wrapper">
		<div class="inner-wrapper">
			<div class="image-wrapper">
				{if $obj->image}{thumb file=$obj->image->get_file_url() width=492 height=401 method=crop}{/if}
			</div>
			<div class="description">
				<div class="desc-wrapper">
					<div class="paper">
						<div class="box">
							<div>
							<h3>{$obj->title}</h3>
							<span class="date">{$obj->published_datetime|date_format:"%d.%m.%Y"}</span>
							{$obj->content}
							</div>
						</div>
						<div id="scroll">
							<div class="knob"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</div>

<script type="text/javascript" src="{$_public}js/custom_scroll.js"></script>
<script type="text/javascript">
{literal}
	if ($('.box').height() < $('.box > div').height()) {
		$('body').custom_scroll();
	}
{/literal}
</script>