{if $page}
	<ol class="dd-list" id="list_{$page->id}">
		{foreach from=$page->get_children() item=sub name=subs key=sid}
		<li class="dd-item list_{$page->id}" data-id="{$sub->id}">
			<div class="dd-content">
				<div class="title{if $page->id eq 1} not-sortable{/if}"><a href="{url_for action=edit id=$sub->id section=$section}" class="edit" title="{$_labels.MAIN_ACTIONS.edit}">{$sub->title|replace:'[***]':'<strong style="color:#dd0000;">[***] </strong>'|replace:'[*]':'<strong style="color:#00dd00;">[*] </strong>'}</a></div>
				<div class="actions">
					{if $section}
					<a href="{url_for action=edit id=$sub->id section=$section}" class="edit" rel="tooltip" title="{$_labels.MAIN_ACTIONS.edit}">{$_labels.MAIN_ACTIONS.edit}</a>
					{else}
					<a href="{url_for action=edit id=$sub->id section=$section}" class="edit" rel="tooltip" title="{$_labels.MAIN_ACTIONS.edit}">{$_labels.MAIN_ACTIONS.edit}</a>
					{/if}
					<a href="{url_for appsys=public controller=pages action=preview id=$sub->id}" class="preview" target="_blank" rel="tooltip" title="{$_labels.MAIN_ACTIONS.preview}">{$_labels.MAIN_ACTIONS.preview}</a>
					{if not $sub->id|@in_array:$restricted_pages and $page->id > 1}<a href="javascript:confirm_delete({$sub->id})" class="delete" rel="tooltip" title="{$_labels.MAIN_ACTIONS.delete}">{$_labels.MAIN_ACTIONS.delete}</a>{/if}
				</div>
				<div class="page_type">
					{$_labels.PAGE_TYPE.{$sub->page_type}|default:'-'}
				</div>

				<div class="page_type">
					{$_labels.VISIBILITY.{$sub->visibility}}
				</div>
				<div class="id">{$sub->id}</div>
				<div class="clear"></div>
			</div>
			{if $sub->has_children()}
				{include file='admin/pages/_subpages.htm' page=$sub first=false}
			{/if}
		</li>
		{/foreach}
		{if $first eq 1}
			</ol>
		</li>
		{/if}
	</ol>
	{if $page->id > 1}{literal}
	<script type="text/javascript">
		$('#nestable #list_{/literal}{$page->id}{literal}').sortable({
			handle: ".title",
			placeholder: "ui-state-highlight",
			items: "li.list_{/literal}{$page->id}{literal}:not(.no-sort)",
			tolerance: 'pointer',
			dropOnEmpty: false,
			start: function( event, ui ) {
				// console.log(ui.item.height());
				ui.placeholder.css('height', ui.item.height());
			},
			update: function(event, ui) {
				params = {};
				params['object_id'] = ui.item.attr('data-id');
				prev = ui.item.prev('.dd-item');
				if(prev.length) {
					params['prev_id'] = prev.attr('data-id');
				}

				nxt = ui.item.next('.dd-item');
				if(nxt.length) {
					params['next_id'] = nxt.attr('data-id');
				}

				$.get(xhr_url+'?method=saveMenu',params);
			}
		});
	</script>
	{/literal}{/if}
{/if}