<div class="page-cover" style="background-image: url({$careers->image})"> <!-- cover --> </div>
<section class="careers-inner">
	<div class="content-wrapper">
		<h2>{$obj->title}</h2>
		<span class="number">{$_labels.FORM_LABELS.ref_no}: {$obj->ref}</span>
		<div class="rich-text">
			<p>{$obj->summary}</p>
			{$obj->content}
		</div>
		<a class="button" href="{$_root}{$_current_lang}{$careers->slug}" title="{$_labels.BUTTONS.back|escape}">{$_labels.BUTTONS.back}</a>
		{if $ok neq 1}
		<a class="button apply{if isset($smarty.post.carrer_form)} active{/if}" href="javascript:;" title="{$_labels.BUTTONS.apply|escape}">{$_labels.BUTTONS.apply}</a>
		<div class="apply form{if isset($smarty.post.carrer_form)} active{/if}">
			<form action="" method="post" enctype="multipart/form-data" novalidate>
				<fieldset>
					<input {if $errors.name}class="error"{/if} type="text" name="name" value="{$form_object->name|escape}" placeholder="{$_labels.FORM_LABELS.name}*" >
					<input {if $errors.phone}class="error"{/if} type="number" name="phone" value="{$form_object->phone|escape}" placeholder="{$_labels.FORM_LABELS.phone}*">
					<input {if $errors.email}class="error"{/if} type="email" name="email" value="{$form_object->email|escape}" placeholder="{$_labels.FORM_LABELS.email}*">
				</fieldset>
				<fieldset>
					<div>
						<label>{$_labels.FORM_LABELS.ref_number} *</label>
						<input type="text" name="ref" value="{$obj->ref}" disabled="disabled"></input>
					</div>
					<label class="upload {if $errors.upload_cv}error{/if}"><input type="file" name="upload_cv"><span>{$_labels.FORM_LABELS.upload_cv} *</span></label>
					<label class="upload {if $errors.upload_cl}error{/if}"><input type="file" name="upload_cl"><span>{$_labels.FORM_LABELS.upload_cl} *</span></label>
				</fieldset>
				<fieldset>
					<div class="captcha" >
						<img src="{$_root}captcha.png" onclick="this.src=this.src.replace(/\?.*/, '') + '?' + Math.random();" alt="">
						<input {if $errors.capture}class="error"{/if} type="text" name="capture" value="" id="capture">
					</div>
					<button class="button" type="sumbit" name="carrer_form">{$_labels.BUTTONS.send}</button>					
				</fieldset>
			</form>
			{else}
			 	<div class="success-message">
					<p>{$_labels.FORM_LABELS.success_message}</p>
				</div>
			{/if} 
		</div>
	</div>
</section>