<footer>
	<ul class="socials">
		<li><a href="{$_labels.SOCIAL_MEDIA.facebook}" target="_blank" title="Facebook">&#xe906;</a></li>
		<li><a href="{$_labels.SOCIAL_MEDIA.google_plus}" target="_blank" title="Google+">&#xe907;</a></li>
		<li><a href="{$_labels.SOCIAL_MEDIA.youtube}" target="_blank" title="Youtube">&#xe90c;</a></li>
	</ul>
	<div class="footer-menu">
		<ul>
		{foreach from=$footer_menu item=item}
			<li><a href="{$_root}{$_current_lang}{$item->slug}" title="{$item->title|escape}">{$item->title|escape}</a></li>
		{/foreach}
		</ul>
	</div>
	<div class="footer-wrapper">
		<ul class="contact-info">
			<li><a href="tel:{$list->phone|replace:' ':''}"><span class="icon">&#xe909;</span>{$list->phone}</a></li>
			<li><span class="icon">&#xe90a;</span>{$list->address}</li>
			<li><a href="tel:{$list->fax|replace:' ':''}"><span class="icon">&#xe905;</span>{$list->fax}</a></li>
			<li><a href="javascript:;"><span class="icon">&#xe904;</span>Contacts</a></li>
		</ul>
		<span class="copyrights">&copy; 2016 Bullcons</span>
		<a class="credits" href="http://themags.com" target="_blank">The Mags</a>
	</div>
</footer>