<header>
	<a class="menu-trigger" href="javascript:;" title="menu"><span class="line">line</span><span class="line">line</span><span class="line">line</span></a>
	<a class="logo" href="{$_root}{$_current_lang}" title="home"><img src="{$_public}images/logo_pad.png" alt="logo"/></a>
	{include file="public/partials/_navigation.htm"}
	<div class="profile">
		<a href="javascript:;" title="Profile">&#xe90b;</a>
		<div class="login">
			<form>
				<input type="text" name="username" placeholder="Потребителско име*" />
				<input type="password" name="pass" placeholder="Парола*" />
				<button type="submit" name="sign_in">Вход</button>
			</form>
		</div>
	</div>
	<div class="languages-list">
		<a href="javascript:;" title="lang"></a>
		<ul>
			{foreach from=$_languages key=key item=item name=lang}
				<li {if $_current_lang eq $key}class="active"{/if}><a href="{$_root}{$key}{$page_mirror.$item}" title="{$key|upper}"><img src="{$_public}images/flag_{$key}.png" alt="flag_{$key}"/></a></li>
			{/foreach}
		</ul>
	</div>
</header>