<title>{$meta_title}</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="keywords" content="{$meta_keywords}">
<meta name="description" content="{$meta_description}">
<link rel="stylesheet" type="text/css" href="{$_public}css/jquery.cookiebar.css">
<link rel="stylesheet" type="text/css" href="{$_public}css/styles.css">
<script type="text/javascript" src="{$_public}js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{$_public}js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{$_public}js/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="{$_public}js/jquery.cookiebar.js"></script>
{literal}
<script>
	$(document).ready(function() {
		$.cookieBar({
			message:'<p>{/literal}{$_labels.COOKIE_BAR.text} <a class="policy-link" href="{$_root}{$_current_lang}{$cookie_slug}">{$_labels.COOKIE_BAR.url_text}</a></p>',
			acceptText: '{$_labels.COOKIE_BAR.btn_text}' {literal}
		});
	});
</script>
{/literal}

{if $og_info}
{foreach from=$og_info key=og_key item=og_content}
<meta property="og:{$og_key}" content="{$og_content|escape|trim}" />
{/foreach}
{/if}