<div class="user-info">
	<a href="?page=user_details" title=""><strong>Петър Карамитев</strong></a>
	<a href="?page=user_details" title=""><span class="icon-icon_people"></span>Моят профил</a>
	<a href="?page=home" title=""><span class="icon-icon_exit"></span>Изход</a>
</div>