<div class="main-carousel" style="background-image: url({$_public}/images/temp/bulcons_carousel.jpg)">
	{foreach from=$slides item=slide}
		<div class="item">
		 	{if $slide->image}<img src="{$slide->image->get_file_url()}" alt="{$slide->image->filename}"/>{/if}
			<div class="heading-wrapper">
				{$slide->content}
				{if $slide->link}
					<a class="button" href="{$slide->link}" target="_blank">{$_labels.BUTTONS.see_more}</a>
				{/if}
			</div>
		</div>
	{/foreach}
</div>
