  <body style="margin: 0; padding: 0; font-family: Arial">
        <table style="margin: 0; padding: 0; width: 630px;border-collapse: collapse;">
            <thead>
                <tr><th colspan="2" style="height: 7px;background: #B23636"> <!-- line --> </th></tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" style="padding: 0 40px 30px 40px;">
                        <table style="width: 100%; border-collapse: collapse; border: 1px solid #f4f4f4">
                            <tbody>
                                <tr>
                                    <td colspan="2" style="padding: 10px 0; background: #e5e5e5; border: 1px solid #f4f4f4; text-align:center;">
										Булконс/Кариери
                                    </td>
                                </tr>
                                <tr style="text-align: center; font-size: 12px; color: #3b3b3b; background: #fff;">
                                    <td style="padding: 10px 0; border: 1px solid #f4f4f4; font-weight:bold;">{$_labels.FORM_LABELS.ref_no}</td>
                                    <td colspan="2" style="padding: 10px 0; border: 1px solid #f4f4f4">{$form_object->ref|escape}</td>
                                </tr>
                                <tr style="text-align: center; font-size: 12px; color: #3b3b3b; background: #fff;">
                                    <td style="padding: 10px 0; border: 1px solid #f4f4f4; font-weight:bold;">{$_labels.FORM_LABELS.position}</td>
                                    <td colspan="2" style="padding: 10px 0; border: 1px solid #f4f4f4">{$form_object->career->title|escape}</td>
                                </tr>
                                <tr style="text-align: center; font-size: 12px; color: #3b3b3b; background: #fff;">
                                    <td style="padding: 10px 0; border: 1px solid #f4f4f4; font-weight:bold;">{$_labels.FORM_LABELS.name}</td>
                                    <td colspan="2" style="padding: 10px 0; border: 1px solid #f4f4f4">{$form_object->name|escape}</td>
                                </tr>
                                <tr style="text-align: center; font-size: 12px; color: #3b3b3b; background: #fff;">
                                    <td style="padding: 10px 0; border: 1px solid #f4f4f4; font-weight:bold;">{$_labels.FORM_LABELS.phone}</td>
                                    <td colspan="2" style="padding: 10px 0; border: 1px solid #f4f4f4">{$form_object->phone|escape}</td>
                                </tr>
                                <tr style="text-align: center; font-size: 12px; color: #3b3b3b; background: #fff;">
                                    <td style="padding: 10px 0; border: 1px solid #f4f4f4; font-weight:bold;">{$_labels.FORM_LABELS.email}</td>
                                    <td colspan="2" style="padding: 10px 0; border: 1px solid #f4f4f4">{$form_object->email|escape}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 6px 36px; background: #B23636;"></td>
                </tr>
            </tbody>
        </table>
    </body>