<section class="accent-top highlights">
	<h2>{$_labels.accents_home}</h2>
	<div class="carousel">
		{foreach from=$accent_items item=accent_item}
			<div class="item">
				{if $accent_item->image}<img src="{$accent_item->image->get_file_url()}" alt="missing image"/>{/if}
				{$accent_item->content}
			</div>
		{/foreach}
	</div>
</section>