<div class="user-info">
	<a href="{url_for controller=profiles action=user_details}" title=""><strong>{$session->user_data.name}</strong></a>
	<a href="{url_for controller=profiles action=user_details}" title=""><span class="icon-icon_people"></span>{$_labels.BUTTONS.my_profile}</a>
	<a href="{url_for controller=profiles action=logout}" title=""><span class="icon-icon_exit"></span>{$_labels.BUTTONS.logout}</a>
</div>