<nav>
	<ul class="menu left">
		{foreach from=$main_menu_l item=item}
			<li class="{if (!$_url_params and $item->slug eq '/') or ($item->slug and $item->slug|substr:1|in_array:$_url_params) or ($item->id eq $_url_params.page_id)} active{/if}"><a href="{$_root}{$_current_lang}{$item->slug}" title="{$item->title}" >{$item->title}</a></li>
		{/foreach}
	</ul>
	<ul class="menu right">
		{foreach from=$main_menu_r item=item}
		{assign var=children value=$item->get_children(" AND visibility=2 AND exclude_from_menu = 0")}
		<li class="{if $children}has-child{/if}{if (!$_url_params and $item->slug eq '/') or ($item->slug|substr:1 and $item->slug|substr:1|in_array:$_url_params) or ($item->id eq $_url_params.page_id)} active{/if}">
			<a href="{if $children}javascript:;{else}{$_root}{$_current_lang}{$item->slug}{/if}" title="{$item->title}" >{$item->title}</a>
			{if $children}
			<ul class="submenu">
				{foreach from=$children item=sub}
				<li><a href="{$_root}{$_current_lang}{$sub->slug}" title="{$sub->title|escape}">{$sub->title}</a></li>
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
		<li class="profile">
			<a href="javascript:;" title="" ><span class="icon">&#xe90b;</span>Профил</a>
			<div class="login">
				<form>
					<input type="text" name="username" placeholder="Потребителско име*" />
					<input type="password" name="pass" placeholder="Парола*" />
					<button type="submit" name="sign_in">Вход</button>
				</form>
			</div>
		</li>
	</ul>
</nav>