<section class="accent-top product-list">
	<h2>{$_labels.products_home}</h2>
	<div class="product-carousel">
	{foreach from=$subcategories item=item}
		<div class="product">
			{if $item->image}{thumb file=$item->image->get_file_url() width=512 height=340 method=crop}{/if}
			<div class="description">
				<h4>{$item->title}</h4>
				<p>{$item->summary}</p>
				<a class="button" href="{$_root}{$_current_lang}{$product_page_slug}/{$item->slug}" title="{$_labels.BUTTONS.see_more}">{$_labels.BUTTONS.see_more}</a>
			</div>
		</div>
	{/foreach}
	</div>
</section>