<ul class="products-list">
	{foreach from=$products_list item=item}
	<li>
		{if $item->thumb}
		<a class="img" href="{$_root}{$_current_lang}{$obj->slug}/{$item->products_category->slug}/{$item->slug}" title="">
		{thumb file=$item->thumb->get_file_url() width=152 height=152 method=crop}</a>
		{/if}
		<h4><a href="{$_root}{$_current_lang}{$obj->slug}/{$item->products_category->slug}/{$item->slug}" title="{$item->title|escape}">{$item->title|escape}</a></h4>
		<p>{$item->summary|truncate:112:"..."}</p>
	</li>
	{/foreach}
</ul>
{paging_public from=$paginator}
<a class="faq-link" href="{$_root}{$_current_lang}{$faqs_page->slug}" title="{$_labels.faqs_label}">{$_labels.faqs_label}</a>