<div class="page-cover product" style="background-image: url({$_public}images/temp/bulcons_carousel.jpg)">
	{if $product_item->picture}{thumb file=$product_item->picture->get_file_url() width=264 height=324 method=crop}{/if}
</div>
<div class="bgr">
	<section class="details"  itemscope itemtype="http://schema.org/Product">
		<h2 itemprop="name"><em>{$product_item->title}</em></h2>
		<div class="rating-container">
					<div class="rating">
						<ul data-rate="{$avg_vote}" {if $already_voted eq 1}class="rated"{/if}>
							{assign var=rating_vals value=[1,2,3,4,5]}
							{foreach from=$rating_vals item=rating }
								<li class='vote' data-rating-id='{$rating}'>{$rating}</li>
							{/foreach}
						</ul>
					</div>
				</div>
		<p itemprop="description">{$product_item->summary}</p>
		<div class="preparation">
			<div class="products">
				<h3>{$_labels.PRODUCTS_INNER.ingredients}</h3>
				{$product_item->ingredients}
			</div>
			<div class="information list">
				<h4>{$_labels.PRODUCTS_INNER.nutrition_facts}</h4>
				<ul>
					<li><span>{$_labels.PRODUCTS_INNER.carbohydrates}</span><em>{$product_item->carbohydrates}</em></li>
					<li><span>{$_labels.PRODUCTS_INNER.proteins}</span><em>{$product_item->proteins}</em></li>
					<li><span>{$_labels.PRODUCTS_INNER.proteins_of_sugars}</span><em>{$product_item->proteins_of_sugars}</em></li>
					<li><span>{$_labels.PRODUCTS_INNER.fats}</span><em>{$product_item->fats}</em></li>
					<li><span>{$_labels.PRODUCTS_INNER.proteins_of_saturates}</span><em>{$product_item->proteins_of_saturates}</em></li>
					<li><span>{$_labels.PRODUCTS_INNER.energy_value}</span><em>{$product_item->energy_value}</em></li>
					<li><span>{$_labels.PRODUCTS_INNER.energy_value}</span><em>{$product_item->energy_value_in_kcal}</em></li>
					<li><span>{$_labels.PRODUCTS_INNER.salt}</span><em>{$product_item->salt}</em></li>
				</ul>
			</div>
		</div>
		<div class="accent-top wrap-info">
			<h2>{$_labels.PRODUCTS_INNER.packinkg_data}</h2>
			<div class="product-wrap">
				<div class="product">
					{foreach from=$package_items item=item}
						<div class="item">
							{if $item->package_image}<a href="{$item->package_image->get_file_url()}" title="">
								{thumb file=$item->package_image->get_file_url() width=150 height=150}
							</a>{/if}
							<span class="package">{$item->weight}</span>
							<span itemprop="gtin13">{$item->barcode}</span><br/>
						</div>
					{/foreach}
				</div>
			</div>
			<div class="details-wrapper">
				{foreach from=$package_items item=item name=package_item}
				<div class="product-details {if $smarty.foreach.package_item.first}current{/if}">
					{*<div class="item">
						<div class="top">
							<em>&#xe910;</em>
							<span>{$item->package}</span>
						</div>
						<h5>{$_labels.PRODUCTS_INNER.package}</h5>
					</div>*}
					<div class="item">
						<div class="top">
							<em>&#xe911;</em>
							<span>{$item->net_quantity}</span>
						</div> 
						<h5>{$_labels.PRODUCTS_INNER.net_quantity}</h5>
					</div>
					<div class="item">
						<div class="top">
							<em>&#xe912;</em>
							<span>{$item->number_of_packages_in_a_box}</span>
						</div>
						<h5>{$_labels.PRODUCTS_INNER.number_of_packages_in_a_box}</h5>
					</div>
					<div class="item">
						<div class="top">
							<em>&#xe913;</em>
							<span>{$item->number_of_packages_in_pallet}</span>
						</div>
						<h5>{$_labels.PRODUCTS_INNER.number_of_packages_in_pallet}</h5>
					</div>
					<div class="item">
						<div class="top">
							<em>&#xe914;</em>
							<span>{$item->number_of_cartons_per_pallet}</span>
						</div>
						<h5>{$_labels.PRODUCTS_INNER.number_of_cartons_per_pallet}</h5>
					</div>
					<div class="item">
						<div class="top">
							<em>&#xe915;</em>
							<span>{$item->gross_weight_stack}</span>
						</div>
						<h5>{$_labels.PRODUCTS_INNER.gross_weight_stack}</h5>
					</div>
					<div class="item">
						<div class="top">
							<em>&#xe90f;</em>
							<span>{$item->gross_weight_per_pallet}</span>
						</div>
						<h5>{$_labels.PRODUCTS_INNER.gross_weight_per_pallet}</h5>
					</div>
				</div>
					{/foreach}
			</div>
			<a class="button" href="{$_root}{$_current_lang}{$parent_page_slug}/{$product->slug}" title="{$_labels.BUTTONS.back}">{$_labels.BUTTONS.back}</a>
			<a class="button fb" href="https://www.facebook.com/sharer.php?u={$url|escape}&amp;title={$title|escape:'url'}" title="{$_labels.BUTTONS.share}" target="_blank"><span class="icon">&#xe906;</span>{$_labels.BUTTONS.share}</a>
		</div>
	</section>
	{if $product_item->recipes}
	<div class="recepies-carousels">
		<div class="more-recepies wide">
			<h4>{$_labels.RECIPES_INNER.more_recipes}</h4>
			<ul class="carousel recipies-list">
			{foreach from=$product_item->recipes item=item}
				<li>
					{if $item->picture}<a class="img" href="{$_root}{$_current_lang}{$recipe_page_slug}/{$item->recipes_category->slug}/{$item->slug}" title="">{thumb file=$item->picture->get_file_url() width=152 height=152}</a>{/if}
					<h4><a href="{$_root}{$_current_lang}{$recipe_page_slug}/{$item->recipes_category->slug}/{$item->slug}" title="{$item->title|escape}">{$item->title|escape}</a></h4>
					<p>{$item->summary|truncate:112:"..."}</p>
				</li>
			{/foreach}
			</ul>
		</div>
	</div>
	{/if}
</div>

<script type="text/javascript">

var vote_url = '{url_for controller=products app=products action=xhr method=vote}';
$('.vote').click(function(event) {
		var my_vote = $(this).data('rating-id'),
			product_id = '{$product_item->id}',
			avg_vote = '';
		
		$.ajax({
			url: vote_url,
			method: 'post',
			data: { 'vote': my_vote, product_id : product_id },
			dataType: 'json',
			success: function(json) {
				if(json.succses == true) {
					avg_vote = json.avg_vote;
					$('.rating ul').attr('data-rate', avg_vote*20);
					rating();
				} else if (json.succses == false) {
					alert('json.vote_message');
				}
			}
		});
		
	});


</script>